# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static
.env

# Environments
.venv/
venv/
ENV/
env/

# Node/React
node_modules/
dist/
build/
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db
